version: '3.12.12'

services:
  app:
    build: .
    restart: always
    expose:
      - 80
    # ports:
    #   - 8083:80
    networks:
      - global-network

networks:
  global-network:
    external: true