body {
    background: linear-gradient(135deg, #2f4f4f, #4b5358, #6c757d, #343a40);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0.5rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.text-custom {
    color: #284c73;
    font-weight: 700;
}

.btn-custom {
    background: linear-gradient(45deg, #2c3e50, #34495e);
    color: #f5f5f5;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-custom:hover {
    background: linear-gradient(45deg, #253e58, #2c3e50);
}

.lista-item {
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background: #6c757d;
    color: white;
    width: 100%;
}

.lista-item:hover {
    background: #5a6268;
}

.user_position_main {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.div_buttons_main {
    text-align: center;
    margin-top: 2rem;
}

.custom-column {
padding: 1rem;
min-height: 300px; /* Imposta un'altezza minima per le colonne */
}
