body {
    background-color: #1d1f27;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.card {
    background-color: #2a2d3e;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease-out;
  }
  .card-header {
    background: linear-gradient(45deg, #4c68ff, #6b4cff);
    color: white;
    text-align: center;
    border-radius: 15px 15px 0 0;
  }
  .form-label {
    font-weight: bold;
    color: #c7c9d1;
  }
  .text-custom {
    color: #6b4cff;
  }
/* PER I PULSANTI */
.btn-custom {
    background-color: #4c68ff;
    border: none;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 50px;
    transition: background-color 0.3s ease;
  }
  .btn-custom:hover {
    background-color: #6b4cff;
  }

/* FORM */

  .form-group label {
    font-weight: bold;
    color: #c7c9d1;
  }

  .form-control {
    background-color: #2a2d3e;
    color: #fff;
    border: 1px solid #4c68ff;
  }

  .form-control:focus {
    box-shadow: 0 0 10px rgba(76, 104, 255, 0.3);
  }