p {
    text-align: justify;
    text-justify: inter-word;
}

aside.sidebar {
    padding-top: 0;
}

:is(h1, h2, h3, h4, h5, h6) {
    color: #fff;
}

.app-nav li ul {
    background-color: #222;
}

.markdown-section {
    max-width: 80%;
}