<footer class="footer">
    <div class="footer-column centered">
        <img class="footer-logo" th:src="@{t23/css/images/Federico_II_University_Logo.svg}" alt="Federico II Logo" style="filter: brightness(0) invert(1);">
        <img class="footer-logo" th:src="@{t23/css/images/logo.png}" alt="App Logo" style="width: 100px; height: 100px;">
    </div>
    <div class="footer-column">
        <h1>Informazioni Generali</h1>
        <p>Versione sviluppata a partire dalla versione A13 <a href="https://github.com/Testing-Game-SAD-2023/A13">qui</a></p>
        
    </div>
    <div class="footer-column">
        <h1>Componenti gruppo</h1>
        <p>Andriy Korsun-M63001275</p>
        <p>Giuseppe Laterza-M63001411</p>
        <p>Luca D'Angelo-M63001488</p>
    </div>
    <div class="footer-copyright">
        <p>&copy; SAD 2024.</p>
    </div>
  </footer>