version: '3.12.12'

services:
  app:
    build: .
    restart: always
    expose:
      - 1234
    # ports:
    #   - 1234:1234
    networks:
      - global-network

networks:
  global-network:
    external: true