<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Menu</title>
<link rel="stylesheet" th:href="@{/t23/css/menu.css}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

</head>

<body>
  <header class="header">
    <div class="logo">
        <img th:src="@{t23/css/images/Federico_II_University_Logo.svg}"></img>
    </div>
    <div class="logo">
        <img class="enac" th:src="@{t23/css/images/Logo 1_ENACTEST_horizontal.png}"></img>
    </div>
</header>
<div class="container">
  <div class="hero-content">
    <h1 th:text="#{menu.title}"></h1>
    <p th:text="#{menu.text}"></p>
    <a id="login_user_redirect_btn" th:text="#{button.student}" href="/login" class="button-3d"></a>
    <a id="login_admin_redirect_btn" th:text="#{button.admin}" href="/loginAdmin" class="button-3d adm"></a>
  </div>
  <div class="image-container">
    <img th:src="@{t23/css/images/HeroImageNew.png}" width="650">
  </div>
</div>
<div th:insert="layouts/footer :: footer"></div>

</body>
</html>
