<!DOCTYPE html>
<html lang = "it" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Reimposta password</title>
    <link rel="stylesheet" th:href="@{/t23/css/password_reset_new.css}"/>
    <link rel="stylesheet" th:href="@{/t23/css/login_new.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <script th:src="@{/t23/js/password_reset.js}"></script>
  </head>
  <body>
    <div th:insert="layouts/header_2 :: header"></div>
    <div class="container">
      <div class="left-container">
        <h2 style="font-size: 35px;">Hai dimenticato la password?</h2>
        <div class="side-image">
          <img style="width: 250px;" th:src="@{t23/css/images/forgot_pwd.png}" alt="Login Image">
        </div>
      </div>
      <div class="login-box">
        <h1>Reimposta password</h1>
        <form th:action="@{/password_reset}" method="post">
        <p>Inserisci il tuo indirizzo email e ti invieremo un link per reimpostare la password.</p>
        <form id="password-form" action="#">

          <input type="email" id="email" name="email" required placeholder="Indirizzo e-mail">
          <button type="submit" class="submit-button">Invia</button>
        <a class="login-help-link link" target="_self" data-uia="login-help-link" href="/password_change">
            Hai già ricevuto il token? Cambia la password</a>
        </form>
      </div>
    </div>
    <div th:insert="layouts/footer :: footer"></div>
  </body>
</html>

