<!DOCTYPE html>
<html lang = "it" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title th:text="#{passwordChange.formTitle}"></title>
    <!--<link rel="stylesheet" th:href="@{/t23/css/password_change.css}"/>-->
    <link rel="stylesheet" th:href="@{/t23/css/login_new.css}"/>
    <link rel="stylesheet" th:href="@{/t23/css/password_reset_new.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <script th:src="@{/t23/js/password_change.js}"></script>
  </head>
  <body>
    <div class="container">
      <div class="left-container" style="width:400px;">
        <h2 style="font-size: 35px;" th:text="#{passwordChange.title}"></h2>
        <p th:text="#{passwordChange.text}"></p>
        <div class="side-image">
          <img th:src="@{t23/css/images/adm_login.png}" alt="Login Image">
        </div>
      </div>
        <div class="login-box">
        <h1 th:text="#{passwordChange.formTitle}">Modifica la password</h1>
        <p th:text="#{passwordChange.formInstruction}">Inserisci il token che hai ricevuto per e-mail ed inserisci una nuova password.</p>

        <form th:action="@{/password_change}" method="post">
                
          <input type="email" id="email" name="email" required th:placeholder="#{email.placeholder}">

          <input type="text" id="token" name="token" required th:placeholder="#{token.placeholder}">
      
          <input type="password" id="newPassword" name="newPassword" required th:placeholder="#{newPassword.placeholder}">

          <input type="password" id="confirmPassword" name="confirmPassword" required th:placeholder="#{confirmPassword.placeholder}">

          <input type="submit" th:value="#{form.submit}" class="submit-button">
        
        </form>
      </div>
    </div>
    <div th:insert="layouts/footer :: footer"></div>
  </body>
</html>
