.big-canvas {
    width: 75vw !important;
}

.search-box {
    max-width: 250px;
}

.tableError {
    color: crimson;
    font-weight: bold;
    padding: 20px;
}

.col-rank {
    width: 5%;
}

.col-data {
    width: 47.5%;
}

.leaderboard-table {
    table-layout: fixed;
    width: 100%;
}
