.big-canvas {
    width: 55vw !important;
    padding: 0px 100px;
}

.btn-close-offcanvas {
    position:absolute;
    top: 50px;
    right: 80px;
}

.form-check {
    padding: 0 !important;
}

.form-check-input {
    display: none;
}

.form-check-input:checked + .form-check-label {
    background-color: #fdb838;
    color: white;
    border-color: #fdb838;
}

.btn-filter {
    color: #fdb838 ;
    border-color: #fdb838;
    background-color: transparent;
    transition: all 0.3s ease;
}

.btn-filter:hover {
    color: white !important;
    border-color: #fdb838 !important;
}

.search-box {
    max-width: 250px;
}

.tableError {
    color: crimson;
    font-weight: bold;
    padding: 20px;
}

.col-rank {
    width: 5%;
}

.col-data {
    width: 47.5%;
}

.leaderboard-table {
    table-layout: fixed;
    width: 100%;
}


