<div th:fragment="footer">
	<!-- SCRIPTS-->
	<script
		th:src="@{/t5/jquery/jquery-3.7.0.com.js}"
		th:inline="javascript"
	></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"
	></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"
	></script>
	<script th:inline="javascript">
		// nome internazionale per la modalità 
		function get_mode_text(mode){
			let mode_text
			// Supponiamo di avere una variabile `mode` che determina il caso da attivare
			switch (mode) {
				case "Sfida":
					mode_text = /*[[#{modalità_sfida}]]*/ '';;
					break;
				case "Allenamento":
					mode_text = /*[[#{modalità_allenamento}]]*/ '';
					break;
				case "Scalata":
					mode_text = /*[[#{modalità_scalata}]]*/ '';
					break;
				default:
					mode_text = "Modalità Sconosciuta";
			}

			return mode_text
		}
	</script>
	<script>
		// Funzione per impostare un cookie
		function setCookie(name, value, time) {
			const d = new Date();
			d.setTime(d.getTime() + time);
			const expires = "expires=" + d.toUTCString();
			document.cookie = name + "=" + value + ";" + expires + ";path=/";
		}

		const getCookie = (name) => {
			const value = `; ${document.cookie}`;
			const parts = value.split(`; ${name}=`);
			if (parts.length === 2) return parts.pop().split(";").shift();
			return null;
		};

		const parseJwt = (token) => {
			try {
				return JSON.parse(atob(token.split(".")[1]));
			} catch (e) {
				return null;
			}
		};

		function insertStringInUsernameElement(username) {
			// Trova l'elemento con ID "username"
			var usernameElement = document.getElementById("Username");

			// Verifica se l'elemento esiste
			if (usernameElement) {
				// Inserisce la stringa nell'elemento
				usernameElement.textContent = username.split("@")[0];
			} else {
				console.log("L'elemento con id 'username' non esiste.");
			}
		}

		const jwtData = parseJwt(getCookie("jwt"));
		const username = jwtData.sub;
		console.log(username);
		const userId = jwtData.userId;
		console.log(userId);
		insertStringInUsernameElement(username);

		// Gestione tasto lingua navbar
		function changeLanguage(lang) {
			fetch("/changeLanguage?lang=" + lang, {
				method: "POST",
			})
				.then((response) => {
					if (response.ok) {
						console.log("Lingua cambiata con successo.");
						// Qui puoi aggiornare la UI o ricaricare la pagina se necessario
						location.reload(); // Ricarica la pagina per applicare il cambiamento di lingua
					} else {
						console.error("Errore nel cambio lingua:", response.statusText);
					}
				})
				.catch((error) => {
					console.error("Errore nella richiesta:", error);
				});
		}

		// Funzione per aggiornare l'icona e il testo del pulsante dropdown in base al cookie
		function updateLanguageIcon() {
			const lang = getCookie("lang");
			const languageItems = document.querySelectorAll(".language_select");

			// Cerca l'elemento corrispondente alla lingua del cookie
			languageItems.forEach((item) => {
				const langData = item.getAttribute("data-lang");
				if (langData === lang) {
					// Ottieni l'icona SVG dell'elemento corrispondente
					const svgIcon = item.querySelector("svg").outerHTML;

					// Cambia l'icona del pulsante dropdown con l'icona trovata
					const icon = document.getElementById("dropdownIcon");
					icon.innerHTML = svgIcon;

					// Aggiorna il testo del pulsante con la lingua selezionata
					const langText = item.querySelector("h6").textContent;
					icon.setAttribute("aria-label", langText); // Imposta un'etichetta aria per l'accessibilità
				}
			});
		}

		// Aggiungi evento click per tutti gli elementi della lingua
		document.querySelectorAll(".language_select").forEach((item) => {
			item.addEventListener("click", (event) => {
				const lang = event.currentTarget.getAttribute("data-lang"); // Ottieni il valore della lingua
				changeLanguage(lang); // Chiama la funzione per cambiare lingua
				updateLanguageIcon();
			});
		});

		document.addEventListener("DOMContentLoaded", function () {
			const langCookie = getCookie("lang");
			if (!langCookie) {
				// Se il cookie non esiste, creane uno di default
				setCookie("lang", "it", 7 * 24 * 60 * 60); // Imposta il cookie per 7 giorni
				console.log("Cookie 'lang' impostato su 'it'");
			} else {
				console.log("Cookie 'lang' esistente: " + langCookie);
			}
			updateLanguageIcon();
		});
	
		
	
	</script>
</div>