<!-- NAVBAR -->
<div th:fragment="navbar" class="container-fluid border-bottom border-opacity-75 pb-2">
    <ul class="nav justify-content-center nav-underline sticky-top">
        <li class="nav-item">
            <a class="nav-link text-light" href="/main">  
                <i class="bi bi-house-fill"></i> Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/edit_profile">  
                <i class="bi bi-person-fill"></i> Profile
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/leaderboard"> 
                <i class="bi bi-globe"></i> Global   
            </a>    
        </li>       
        <!-- Logout Button (positioned absolutely to the top right) -->
        <div class="position-absolute" style="top: 10px; right: 20px;">
            <a class="btn btn-dark btn-sm px-3" href="/logout" style="background-color: #4a4a4a; border: none; font-weight: bold;">
                <i class="bi bi-box-arrow-right"></i> Logout
            </a>
        </div>
    </ul>
</div>