<!-- NAVBAR -->
<div th:fragment="navbar" class="container-fluid border-bottom border-opacity-75 pb-2">
    <ul class="nav justify-content-center nav-underline sticky-top">
        <li class="nav-item">
            <a class="nav-link active text-light" href="/main">  
                <i class="bi bi-house-fill"></i> Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/edit_profile">  
                <i class="bi bi-person-fill"></i> Profile
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/leaderboard"> 
                <i class="bi bi-globe"></i> Global   
            </a>    
        </li>
    </ul>
</div>