/* Header centrale (non fisso, centrato) */
.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color:  #1b213e; /* Colore di sfondo */
  color: white;
  position: relative;
  margin-top: 20px;
}
.back-arrow {
  font-size: 24px;
  color: white;
  cursor: pointer;
  margin-right: 15px;
}
.title-container {
  display: flex;
  align-items: center;
  margin: 0 auto; /* Posiziona il contenitore al centro */
}
  .header p {
    font-size: 35px;
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .edit-icon {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .pencil-icon {
    width: 20px; /* Imposta la dimensione dell'icona */
    height: 20px;
  }
  
  /* Impostazioni generali */
  html, body {
    font-family: 'Arial', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:  #1b213e; /* Colore di sfondo leggero */
  }
  
  .container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    margin-top: 15px; /* Lascia spazio per il titolo */
  }
  
  /* Tabella */
  .responsive-table {
    list-style-type: none;
    padding: 0;
  }
  
  .table-header, .table-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  .table-header {
    background-color: #6c7a89;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    text-align: center;
  }
  
  .table-row {
    background-color: #ffffff;
    color: #4d4d4d;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .table-row:hover {
    background-color: #f9f9f9;
  }
  
  .col-1, .col-2, .col-3, .col-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 23%;
  }
  
  .col-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
  }
  
  .delete-button {
    padding: 8px 15px;
    background-color: #db6a6a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    display: none;
  }
  
  .table-row:hover .delete-button {
    display: inline-block;
  }
  
  .delete-button:hover {
    background-color: #e04e4e;
  }
  
  /* Pulsante "Add Student" in riga */
  .add-student, .add-assignment {
    text-align: right; /* Allineiamo il pulsante a destra nella riga */
  }
  
  .add-student .button-header, .add-assignment .button-header {
    background-color: #3498db;
    color: white;
    font-size: 14px; /* Font più piccolo */
    border-radius: 8px;
    padding: 8px 15px; /* Padding ridotto */
    cursor: pointer;
    border: none;
    display: inline-block; /* Assicura che il pulsante rimanga in linea */
    vertical-align: middle; /* Allinea il pulsante con gli altri elementi della riga */
  }
  
  .add-student .button-header:hover, .add-assignment .button-header:hover {
    background-color: #2980b9;
  }
  
  /* Modale */
  .modal, .modal_assignment {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  
  .modal-content {
    background-color: #8194ea;
    padding: 30px;
    border-radius: 10px;
    margin: 50px auto;
    width: 60%;
    max-width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: relative; /* Posizionamento relativo per la X */
  }
  
  .modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  form label {
    font-size: 16px;
    color: #333;
  }
  
  form input[type="text"] {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  form button {
    padding: 12px;
    background-color: #3571e0;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form button:hover {
    background-color: #2859a3;
  }
  

/* Stile del form */
 #AssignmentForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #262b44;
}

/* Etichette */
 #AssignmentForm label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  
}

/* Campi di input e textarea */
#AssignmentForm input[type="text"],
#AssignmentForm input[type="date"],
#AssignmentForm select,
#AssignmentForm textarea {
  background-color: #262b44;
  color: whitesmoke;
  border: 1px solid #4a4f70;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#AssignmentForm input[type="date"]:focus,
#AssignmentForm select:focus,
#AssignmentForm textarea:focus {
  outline: none;
  border-color: #5a78ee;
  box-shadow: 0 0 5px #5a78ee;
}


/* Campo di testo (textarea) */
#AssignmentForm textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 200px;
  color: whitesmoke;
}

/* Pulsante */
 #AssignmentForm button {
  background-color: #5a78ee;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#AssignmentForm button:hover {
  background-color: #506bdd;
  transform: scale(1.02);
}

form button:active {
  transform: scale(0.98);
}

/* Suggerimenti per campi obbligatori */
#AssignmentForm input:required,
#AssignmentForm select:required,
#AssignmentForm textarea:required {
  border-left: 3px solid #5a78ee;
}




  /* Posizionamento della X dentro la modale */
  .close, .close_assignment {
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
    position: absolute;
    top: 15px;  /* Posizione dalla parte superiore della modale */
    right: 15px; /* Posizione dalla parte destra della modale */
    z-index: 101; /* Assicura che la X stia sopra gli altri contenuti */
  }
  
  .close:hover, .close_assignment:hover {
    color: #000;
  }
  
  /* Media Query per dispositivi mobili */
  @media (max-width: 767px) {
    .table-header {
      display: none;
    }
  
    .table-row {
      display: block;
      margin-bottom: 15px;
      padding: 10px;
      background-color: #f4f7fb;
    }
  
    .col-1, .col-2, .col-3, .col-4, .col-delete {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
  
    .col-1::before, .col-2::before, .col-3::before, .col-4::before {
      content: attr(data-label);
      font-weight: bold;
      color: #6c7a89;
      display: block;
    }
  }
  /* Stili per i campi di input */
  input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"]:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: inset 0 1px 5px rgba(52, 152, 219, 0.3);
  }
  
  /* Stili per la lista dei risultati */
  ul#searchResults {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  ul#searchResults li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  ul#searchResults li:hover {
    background-color: #f0f0f0;
  }
  
  ul#searchResults li input[type="checkbox"] {
    margin-right: 10px;
  }
  
  /* Contenitore per i pulsanti, usa flexbox per metterli affiancati */
  .modal-buttons {
    display: flex;
    justify-content: space-between;  /* Spazio equidistante tra i pulsanti */
    gap: 10px; /* Distanza tra i pulsanti */
  }
  
  /* Pulsante di ricerca */
  button#searchButton {
    background-color: rgb(77, 197, 208);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    flex: 1;  /* I pulsanti si espandono per occupare lo spazio disponibile */
    transition: background-color 0.3s;
  }
  
  button#searchButton:hover {
    background-color: #3498db;
  }
  
  /* Pulsante Aggiungi */
  button#button-team {
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    flex: 1;  /* I pulsanti si espandono per occupare lo spazio disponibile */
    transition: background-color 0.3s;
  }
  
  button#button-team:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button#button-team:hover {
    background-color: #2980b9;
  }
  
  /* Pulsante Aggiungi */
  button#addButton {
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    flex: 1;  /* I pulsanti si espandono per occupare lo spazio disponibile */
    transition: background-color 0.3s;
  }
  
  button#addButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button#addButton:hover {
    background-color: #2980b9;
  }
  
  
  /* Media Query per dispositivi mobili */
  @media (max-width: 767px) {
    .modal-content {
        width: 90%;
    }
  
    input[type="text"] {
        font-size: 14px;
    }
  
    button#addButton {
        font-size: 14px;
    }
  }

/* Impostazioni per nascondere i contenuti */
#studentsContainer, #assignmentsContainer {
  display: none;
}

#studentsContainer.active, #assignmentsContainer.active {
  display: block;
}

/* Posiziona il toggle sopra la tabella a sinistra */
.toggle-container {
  display: flex;
  justify-content: right; /* Allinea il toggle a sinistra */
  margin-bottom: 20px; /* Distanza dalla tabella */
  align-items: center;
  margin-right: 150px;
}

/* Stili per il toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 34px;
  text-align: center;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3498db ;
  transition: 0.4s;
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: center; /* Centra il testo */
  padding: 0;
  font-size: 14px;
  color: #fff;
}

/* Posizionamento del testo dentro il toggle */
.slider .toggle-text {
  font-size: 14px;
  font-weight: bold;
  color: #fff; /* Colore del testo */
  transition: 0.4s;
  position: absolute;
}

/* Cerchio che si sposta */
.slider .circle {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
  transform: translateY(-50%);
}

/* Quando il toggle è attivato (checked) */
input:checked + .slider {
  background-color: #2500b9;
}

/* Movimento del cerchio quando il toggle è attivato */
input:checked + .slider .circle {
  left: calc(100% - 30px); /* Muove il cerchio a destra */
}


