<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header">
<body>

<div class="container mt-4">
    <h1>Lista degli Elementi</h1>
    
    <!-- Itera sugli elementi della lista passata dal controller -->
    <ul class="list-group">
        <li class="list-group-item" th:each="item : ${items}">
            <!-- Mostra il valore di ogni elemento -->
            <span th:text="${item}"></span>
        </li>
    </ul>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>