<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" id="html-root" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/header :: header">
        <link rel="stylesheet" href="/t5/css/Css/Edit_profile_marco.css"/>
    </head>
    
<body>

    <!-- NAV -->
<div th:replace="fragments/navbar :: navbar"></div>

    <!-- Profile Page -->
    <div class="container">
        <div class="profile-container">
            <div class="text-center mb-4">
                <h3 class="text-custom">
                    <span th:text="${player.name}"></span>
                    <span th:text="${player.surname}"></span>
                </h3>
            </div>
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label" th:text="#{studi}"></label>
                    <input type="email" id="email" class="form-control" value="${player.studies}" readonly>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">email:</label>
                    <input type="email" id="email" class="form-control" value="${player.email}" readonly>
                </div>
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-sm btn-success" th:text="#{modifica_profilo}"></button>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>
