<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/t5/css/profile-edit.css">
</head>
<body>
    <!-- Header con il pulsante -->
    <header class="header">
        <a href="/profile" class="profile-link">
            <button id="user-email" class="profile-button" th:text="${user.email}">Torna al profilo utente</button>
        </a>
    </header>
    <!-- Dati utente nascosti -->
    <div id="user-data"
        th:data-current-bio="${user.userProfile.bio}"
        th:data-current-image="${user.userProfile.profilePicturePath}"
        hidden>
    </div>
    <!-- Contenuto principale -->
    <main class="content">
        <!-- Sezione immagini profilo -->
        <div id="profile-pictures">
            <img th:each="image : ${images}"
                th:src="@{/t5/images/profileImages/{image}(image=${image})}"
                th:class="${image == propic ? 'profile-picture selected' : 'profile-picture'}"
                alt="Profile Picture" />
        </div>
        <!-- Campo per la bio -->
        <textarea id="bio-input" th:text="${bio}"></textarea>
        <!-- Pulsante per salvare -->
        <button id="save-button" th:text="#{editProfile.save}">Salva</button>
    </main>
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/t5/js/profile-edit.js"></script>
</body>
</html>