<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/t5/css/profile-edit.css">
</head>
<body>
    <!-- Header con il pulsante -->
    <header class="header">
        <a href="/profile" class="profile-link">
            <button id="user-email" class="profile-button" th:text="${email}">Torna al profilo utente</button>
        </a>
    </header>

    <!-- Contenuto principale -->
    <main class="content">
        <!-- Sezione immagini profilo -->
        <div id="profile-pictures">
            <img th:each="image : ${images}"
                 th:src="@{/t5/images/profileImages/{image}(image=${image})}"
                 class="profile-picture"
                 alt="Profile Picture" />
        </div>

        <!-- Campo per la bio -->
        <textarea id="bio-input" placeholder="Inserisci la tua bio" th:attr="placeholder=${bio}"></textarea>

        <!-- Pulsante per salvare -->
        <button id="save-button" th:text="#{editProfile.save}">Salva</button>
    </main>

    <div th:replace="fragments/footer :: footer"></div>

    <script src="/t5/js/profile-edit.js"></script>
</body>
</html>