<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${username} + ' ' + ${surname}">Profilo Amico</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/d963f915e6.js" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/t5/css/profile.css">
</head>
<body class="bg-custom">
    <!-- Navbar -->
    <div class="nav-bar d-flex justify-content-between align-items-center">
        <div>
            <a href="/main" class="btn btn-link text-light"><i class="fas fa-arrow-left"></i> Indietro</a>
        </div>
        <div class="d-flex">
            <a href="/main" class="btn btn-link text-light">Home</a>
        </div>
    </div>

    <div class="container-fluid">
        <!-- Colonna Sinistra -->
        <div class="left-column">
            <!-- Profilo Utente -->
            <div class="card mb-3">
                <div class="card-body d-flex">
                    <img th:src="${propic != null ? '/t5/images/profileImages/' + propic : '/t5/images/sample_propic.jpg'}"
                         class="rounded me-3" style="width: 80px; height: 80px;" alt="Profile Picture">
                    <div>
                        <h5 class="user-name" th:text="${username} + ' ' + ${surname}"></h5>
                        <div class="bio-box" th:if="${bio != null}">
                            <p th:text="${bio}"></p>
                        </div>
                        <!--Bottone follow/unfollw-->
                        <button id="followButton"
                                class="btn"
                                th:classappend="${isFollowing ? 'btn-danger' : 'btn-primary'}"
                                th:text="${isFollowing ? 'Unfollow' : 'Follow'}"
                                th:data-userid="${userId}">
                            Follow
                        </button>
                    </div>
                </div>
            </div>

            <!-- Trofei -->
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="trophyTabs" role="tablist">
                        <li class="nav-item">
                            <button class="nav-link active" id="unlocked-tab" data-bs-toggle="tab" data-bs-target="#unlocked" type="button" role="tab" aria-controls="unlocked" aria-selected="true">
                                Sbloccati
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" id="locked-tab" data-bs-toggle="tab" data-bs-target="#locked" type="button" role="tab" aria-controls="locked" aria-selected="false">
                                Bloccati
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="trophyTabsContent">
                        <!-- Achievement Sbloccati -->
                        <div class="tab-pane fade show active" id="unlocked" role="tabpanel" aria-labelledby="unlocked-tab">
                            <p th:if="${unlockedAchievements == null || unlockedAchievements.isEmpty()}">
                                Nessun trofeo sbloccato.
                            </p>
                            <ul class="achievements-list" th:if="${unlockedAchievements != null && !unlockedAchievements.isEmpty()}">
                                <li class="achievement-item" th:each="achievement : ${unlockedAchievements}">
                                    <img class="achievement-icon" src="/t5/images/sample_badge.png" alt="Achievement Icon">
                                    <div class="achievement-details">
                                        <h5 th:text="${achievement.name}"></h5>
                                        <p th:text="${achievement.description}"></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Achievement Bloccati -->
                        <div class="tab-pane fade" id="locked" role="tabpanel" aria-labelledby="locked-tab">
                            <p th:if="${lockedAchievements == null || lockedAchievements.isEmpty()}">
                                Nessun trofeo bloccato.
                            </p>
                            <ul class="achievements-list" th:if="${lockedAchievements != null && !lockedAchievements.isEmpty()}">
                                <li class="achievement-item unobtained" th:each="achievement : ${lockedAchievements}">
                                    <img class="achievement-icon" src="/t5/images/sample_badge.png" alt="Achievement Icon">
                                    <div class="achievement-details">
                                        <h5 th:text="${achievement.name}"></h5>
                                        <p th:text="${achievement.description}"></p>
                                        <div class="progress achievement-progress">
                                            <div class="progress-bar" role="progressbar"
                                                 th:style="'width:' + ${achievement.progress}*100/${achievement.progressRequired} + '%'"
                                                 th:text="${achievement.progress} + '/' + ${achievement.progressRequired}">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Colonna Destra -->
        <div class="right-column">
            <!-- Statistiche -->
            <div class="card mb-3">
                <div class="card-header">Statistiche</div>
                <div class="card-body">
                    <div class="row" th:each="element: ${statisticProgresses}" th:id="'statistic-' + ${element.StatisticID}">
                        <div class="col-8" th:text="${IdToStatistic.get(element.StatisticID).name}">
                            Nome Statistica
                        </div>
                        <div class="col text-end" th:text="${element.Progress}">
                            0
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/t5/js/friend_profile.js"></script>
</body>
</html>