<!DOCTYPE html >
<html lang="it" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
	<head>
		<div th:replace ="fragments/header :: header"></div>
		<title> GameMode</title>
	</head>
	<body>
		<!-- NAVBAR -->
		<div th:replace="fragments/navbar :: navbar"></div>
		<div class="container-fluid mt-3">
			<div class="row justify-content-center row-cols-3">
				<div class="col"></div>
				<div class="col">
					<div class="card">
						<h5 class="card-header text-center" id="selectedMode" th:text="#{modalità}"></h5>
						<div class="card-body">
							<!-- Form di selezione -->
								<div class="row">
									<div class="col">
										<h3 class="text-center mb-4" th:text="#{partita}"></h3>
										<form>
											<!-- Selezione Classe UT -->
											<div class="form-group mb-3">
												<label for="select_class" th:text="#{selezione_classeUT}"></label>
												<select class="form-control" id="select_class">
													<option value="" th:text="#{opzioni}"></option>
													<th:block th:each="option : ${lista_classi}">
														<option
															th:value="${option.name}"
															th:text="${option.name}"
														></option>
													</th:block>
												</select>
											</div>
		
											<!-- Selezione Robot -->
											<div class="form-group mb-3">
												<label for="select_robot" th:text="#{robot}"></label>
												<select class="form-control" id="select_robot">
													<option value="" th:text="#{opzioni}"></option>
													<th:block th:each="option : ${lista_robot}">
														<option
															th:value="${option}"
															th:text="${option}"
														></option>
													</th:block>
												</select>
											</div>
		
											<!-- Selezione Difficoltà -->
											<div class="form-group mb-3">
												<label for="select_diff" th:text="#{difficoltà}"></label>
												<select class="form-control" id="select_diff">
													<option value="" th:text="#{opzioni}"></option>
													<option value="1" th:text="#{d_facile}"></option>
													<option value="2" th:text="#{d_medio}"></option>
													<option value="3" th:text="#{d_difficile}"></option>
												</select>
											</div>
		
											<!-- Link editor -->
											<div class="text-center pt-2">
												<a
													id="link_editor"
													class="btn btn-primary"
													href="#"
													role="button"
												>   Submit </a
												>
											</div>
										</form>
									</div>
								</div>
						</div>
					</div>
				</div>
				<div class="col"></div>
			</div>
		</div>
		<!-- FOOTER -->
		<div th:replace="fragments/footer :: footer"></div>
		<!-- SCRIPT -->
		<script>
			// Funzione per ottenere i parametri dall'URL
			function getParameterByName(name) {
				const url = window.location.href;
				name = name.replace(/[\[\]]/g, "\\$&");
				const regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)");
				const results = regex.exec(url);
				if (!results) return null;
				if (!results[2]) return "";
				return decodeURIComponent(results[2].replace(/\+/g, " "));
			}

			// Funzione per aggiornare la modalità selezionata
			function updateModeFromUrl() {
				const mode = getParameterByName("mode");
				if (mode) {
					const sanitizedMode = mode.replace(/[^a-zA-Z0-9\s]/g, " ");
					document.getElementById("selectedMode").textContent +=
						" " + sanitizedMode;
					localStorage.setItem("modalita", sanitizedMode);
				}
			}

			// Funzione per salvare i valori nel localStorage
			function saveToLocalStorage() {
				const selectClassValue = document.getElementById("select_class").value;
				const selectRobotValue = document.getElementById("select_robot").value;
				const selectDifficultyValue =
					document.getElementById("select_diff").value;

				// Salva i valori nel localStorage
				localStorage.setItem("underTestClassName", selectClassValue);
				localStorage.setItem("robot", selectRobotValue);
				localStorage.setItem("difficulty", selectDifficultyValue);

				// Aggiorna il link
				const link = document.getElementById("link_editor");
				link.setAttribute("href", "/editor?ClassUT=" + selectClassValue);
			}

			// Event listeners per i dropdown
			document
				.getElementById("select_class")
				.addEventListener("change", saveToLocalStorage);
			document
				.getElementById("select_robot")
				.addEventListener("change", saveToLocalStorage);
			document
				.getElementById("select_diff")
				.addEventListener("change", saveToLocalStorage);

			// Esegui all'avvio
			window.onload = updateModeFromUrl;

			function redirectToMain() {
				window.location.href = "/main";
			}

			const getCookie = (name) => {
				const value = `; ${document.cookie}`;
				const parts = value.split(`; ${name}=`);
				if (parts.length === 2) return parts.pop().split(";").shift();
				return null;
			};

			const parseJwt = (token) => {
				try {
					return JSON.parse(atob(token.split(".")[1]));
				} catch (e) {
					return null;
				}
			};

			const jwtData = parseJwt(getCookie("jwt"));
			const username = jwtData.sub;
			const userId = jwtData.userId;
			document.getElementById("usernameField").textContent = username;
		</script>
	</body>
</html>
