<!DOCTYPE html>

<!--Adding Thymeleaf-->
<html lang ="en" 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <!--Enabling proper responsive behavior-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title id="title-scalata-gamemode">Seleziona la tua "Scalata"</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale-extreme.css">
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/translucent.css">

    <link rel="stylesheet" href="/t5/css/gamemode_scalata.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- <script type= "text/javascript" src="/t5/js/main.js"></script> -->
    <script type="text/javascript" src="/t5/js_old/common.js"></script>
    <script type="text/javascript" src="/t5/js_old/gamemode_scalata.js"></script>
    

</head>

<body class=bg-custom>
  
  <!--Navbar-->
  <nav class="navbar navbar-dark bg-dark" id="navbar">
      <a class="navbar-brand" href="javascript:void(0);">
        <i class="fas fa-stairs"></i> Seleziona la tua "Scalata"
      </a>
      <button class="navbar-toggler" id="navbar-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" id="nav-go-back" href="/main">Go Back <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-logout" href="/logout">Logout <span class="sr-only">(current)</span></a>
          <li class="nav-item">
            <a class="nav-link" id="nav-rules" href="#" data-toggle="modal" data-target="#rulesModal">Regolamento</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" id="nav-tour" href=#>Inizia il tour</a>
          </li> -->
        </ul>
      </div>
  </nav>

  <!--Jumbotron-->
  <div class="jumbotron">
    <h1 class="title">Modalità "Scalata"</h1>
    <h2 class="subtitle">Sei pronto a metteri alla prova? <br> in questa nuova modalità di gioco dovrai sfoderare tutte le tue <br> abilità: scegli una "Scalata" dall'elenco e prova a superare <br> tutte le sfide proposte! </h2>
  </div>
  <br>
  <div id="scalate-container" class="container">
    <!-- List of all "Scalate" to choose-->
  </div>
  <br>
  <br>
  <div class="text-center">
    <button type="button" id="submit-button" class="btn btn-light btn-lg">Submit</button>
  </div>
  <br>
  <br>
<!--Regolamento modal dialog-->
<div class="modal fade" id="rulesModal" tabindex="-1" role="dialog" aria-labelledby="rulesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rulesModalLabel">Regolamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>In questa nuova modalità, i giocatori si troveranno a dover testare, in una singola sessione di gioco, un insieme di classi aventi un livello di "difficoltà" crescente, competendo con il robot EvoSuite: un generatore automatico di test. La partita può considerarsi vinta solamente dal giocatore che è stato in grado di superare brillantemente tutti i rounds proposti battendo, a colpi di test JUnit, il robot in questione; maggiore è il numero di round, maggiore è la difficoltà associata alla partita, sei pronto a cogliere il guanto di sfida?</p>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>
</body>

</html>
