<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{classifica}"></title>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href="t5/css/leaderboard.css">

</head>
<body>
    <div class="background-overlay"></div>

    <h1 th:text="#{classifica}"></h1>

    <div class="toggle-container">
        <input type="checkbox" id="toggle" class="toggle-input">
        <label for="toggle" class="toggle-label">
        <span class="toggle-option option-1" th:text="#{punti}" ></span>
        <span class="toggle-option option-2" th:text="#{partite}"></span>
        </label>
    </div>
    
    <div class="table-container">
        <table id="studentTable">
            <thead>
                <tr>
                    <th scope="col" th:text="#{posizione}"></th>
                    <th scope="col" th:text="#{giocatore}"></th>
                    <th scope="col" 
                        th:text="#{punti}" 
                        th:attr="data-default=#{punti}, data-checked=#{partite}"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider overflow-y-scroll">
                <tr th:each="player, iterStat: ${listaPlayersPoints}">
                    <td th:text="${iterStat.index + 1}"></td>
                    <td th:text="${player.name} + ' ' + ${player.surname}" 
                        th:attr="data-default=${player.name} + ' ' + ${player.surname}, 
                                  data-checked=${listaPlayersGames[iterStat.index].name} + ' ' + ${listaPlayersGames[iterStat.index].surname}">
                    </td>
                    <td th:text="${player.points}" 
                        th:attr="data-default=${player.points}, 
                                  data-checked=${listaPlayersGames[iterStat.index].gamesWon}">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="rectangle-title">
        <p th:text="#{la_tua_posizione}"></p>
    </div>

    <div class="rectangle-container">
        <div class="rectangle">
            <div class="section" id="section-1" th:text="${rankByPoints}" 
                                                th:attr="data-default=${rankByPoints}, 
                                                        data-checked=${rankByGames}"></div>
            <div class="section" id="section-2">Giovanna Iovine</div>
            <div class="section" id="section-3">3</div>
        </div>
    </div>

    <script src="t5/js/leaderboard.js"></script>
    
</body>
</html>
