<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <link th:href="@{./t5/css/main.css}" rel="stylesheet" />
    <link th:href="@{./t5/css/main2.css}" rel="stylesheet" />
    <link th:href="@{./t5/bootstrap-4/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/t5/js/main.js}"></script>
    <title>Choose your enemy</title> 
</head>

<body class=bg-custom>
    <!-- inclusione jquery-->
    <script th:src="@{/t5/jquery/jquery-3.7.0.com.js}"  th:inline="javascript">
    </script>


<div class="mt-2 row">
    <p class="user_position_main" style="color: white; font-family:Arial, Helvetica, sans-serif; font-weight: bold;" >Username: <span id="usernameField"></span></p>

</div>
    <div class="container">

        <div class="mt-0 row">

            <div class="col-md-5 custom-column ">
                <!-- Contenuto della prima colonna -->
                <div class="v5_2090">
                    <div class="v5_2095" >
                        <span class="v5_2096">CHOOSE A CLASS TO TEST</span>
                        <div class="lista">  
                        <!-- Creo una lista composta di elementi lista-item che stampano 
                        il valore degli elementi contenuti nella lista java "classi" -->
                        <span class="spa">
                            <button th:each="element: ${hashMap}" th:id="${element.key}"  type="button" class ="lista-item my-button"  th:text=${element.value} th:attr="onclick=|Handlebuttonclass('${element.value}', this)|"></button>
                        </span> 

                      
                        </div>
                        <div class="name"></div>

                    </div>
                </div>
            </div>
            <div class="col-md-5 custom-column">
                <!-- Contenuto della seconda colonna -->
                <div class="v5_2111">
                    <div class="v5_2116">
                        <span class="v5_2117">CHOOSE A ROBOT TO FIGHT</span>
                            <div class="lista">  
                                <!-- Creo una lista composta di elementi lista-item che stampano 
                                il valore degli elementi contenuti nella lista java "classi" -->
                                <span th:each="entry: ${hashMap2}" th:id="${'levels-' + entry.key}" class="spa levels">
                                    <button th:each="value: ${entry.value}" th:id="${entry.key + '-' + value}"  type="button" class ="lista-item my-button" th:text="${'randoop - LVL ' + value}" th:attr="onclick=|Handlebuttonrobot('${value}', this)|"></button>
                                </span> 
                            </div>
                    </div>
                </div>
            </div>




        </div>

        <div class="div_buttons_main">
            <div class="div_back_main">
              <button id="downloadButton" type="button" class="btn custom-button" th:onclick="downloadFile()">Download</button>
              <button type="button" class="btn custom-button" th:onclick="redirectToPagereport(); saveLoginData()">Submit</button>
            </div>
      </div>
</body>


</html>


