<!DOCTYPE html>
<html lang="en">
<head>

<!--MODIFICA (17/04/2024) : FontAwesome import-->
<script src="https://kit.fontawesome.com/d963f915e6.js" crossorigin="anonymous"></script>
<!--FINE MODIFICA (17/04/2024)-->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Gestione Team</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href="/t1/css/gestione_team.css">

</head>
<body>

<!--Codice HTML qui-->
<br>
<br>
<h1>Gestione Team</h1>

<button class="top-left-button" onclick="returnToHome()">Home</button>

<nav class="top-right open">
	<a href = "/achievements" class="disc l1">
		<div>Achievements</div>
	</a>
	<a href = "/player" class="disc l2">
		<div>Players</div>
	</a>
	<a href = "class" class="disc l3">
		<div>Classes</div>
	</a>

  <!--MODIFICA (15/02/2024): Aggiunta pagina di informazioni riguardo tutti gli amministratori del sistema-->
	<a href = "info" class="disc l4">
		<div>Info</div>
	</a>
  <!--FINE MODIFICA (15/02/2024)-->

	<a class="disc l5 toggle">
		Menu
	</a>
</nav>

<!--FINE MODIFICA-->
</body>

<!--Includi JQuery-->
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/t1/js/gestione_team.js"></script>
</html>