<!--CARMINE: Inserimento della pagina di gestione di teams-->
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Teams</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href="/t1/css/teams.css"><!--aggiunta del css della pagina-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <span class="icon">
            <a href="/home_adm">
                <img src="/t1/css/Images/admin-logo-1.png" alt="icon">
            </a>
        </span>
        <p>Student Team Management</p>
        <button class="button-header" id="openModalButton">
            <p id="button-header-p">Add Team</p>
        </button>
    </div>
    <div class="menu_tendina">
        <!-- Barra di ricerca centrale -->
        <div class="search-container">
            <input type="text" class="search-bar" placeholder="Cerca team">
            <button class="search-button">
                <i class="search">🔍</i>
            </button>
        </div>
    
        <!-- Filtro e menu a tendina a destra -->
        <p>Filter by:</p>
        <select id="dropdown-container"> 
            <option value="default">Default</option>
            <option value="alphabetical">Name</option>
            <option value="date">Date</option>
        </select>
    </div>
   
    <div id="folders" class="folder-container"></div>

    </div>
    <div id="modalContainer"></div>

    

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="t1/js/teams.js"></script>
    <footer>

    </footer>
</body>
</html>