<!--MODIFICA (12/02/2024): Restyling pagina-->
<!DOCTYPE html>
<html lang="en" >
<head>

<!--MODIFICA (17/04/2024) : FontAwesome import-->
<script src="https://kit.fontawesome.com/d963f915e6.js" crossorigin="anonymous"></script>
<!--FINE MODIFICA (17/04/2024)-->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Home Admin</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href="/t1/css/home_adm.css">

</head>
<body>

<!--Codice HTML qui-->
<br>
<br>
<h1>Home Admin</h1>
<h2>Welcome</h2>
<h3>Choose an option</h3>

<nav class="top-right open">
	<a href = "/player" class="disc l1">
		<div>Players</div>
	</a>
	<a href = "class" class="disc l2">
		<div>Classes</div>
	</a>

  <!--MODIFICA (15/02/2024): Aggiunta pagina di informazioni riguardo tutti gli amministratori del sistema-->
	<a href = "info" class="disc l3">
		<div>Info</div>
	</a>
  <!--FINE MODIFICA (15/02/2024)-->

	<a class="disc l5 toggle">
		Menu
	</a>
</nav>

<!--MODIFICA (12/02/2024): Aggiunta opzione di disconnessione-->
<div class="logout-admin-container">
  <button type="button" onclick="Disconnessione()">Logout</button>
</div>

<!--MODIFICA (16/02/2024) : Aggiunta bottone di invito-->
<div class="invita-admin-container">
  <button type="button" onclick="Invita()">Invita</button>
</div>

<!--MODIFICA (17/04/2024) : Aggiunta bottone "Scalata"-->
<div class="scalata-button-container">
  <button type="button" onclick="Scalata()"><i class="fas fa-stairs"></i></button>
</div>

<!--FINE MODIFICA-->
</body>

<!--Includi JQuery-->
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/t1/js/home_adm.js"></script>

</html>
