*{
    box-sizing: border-box;
  }
  .bigcontainer{ /*Container pagina*/
    background-color: #2b3e5088;
    min-height: 100vh;
  }
  .container::after{ /*Container orizzontale, ROW*/
    content: "";
    display: table;
    clear: both;
  }
  .container2 { /*Container verticale, COLUMN*/
    float:left;
    width: 50%;
    padding: 5px;
  }
  body {
    margin:0;
  }
  .editor-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b3e50;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .editor-bar .text{
    margin-right:10px;
  }
  .editor-bar .image{
    width: 20px;
    height: 20px;
    background-image: url("./Icone/logo.png");
    background-size: cover;
    margin-left: 5px;

  }
  .editor-bar .image::before{
    content: "";
    display: block;
    height: 10px;
  } 
  .top-bar {
    overflow: hidden;
    background-color:#2b3e5088;
    padding: 10px;
    width: 100%;
  }
  .top-bar2{
    overflow: hidden;
    background-color:#2b3e5088;
    padding: 12.5px;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .top-bar button{
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    background-size: 100%;
    background-position: center;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    justify-content: center;        
    padding: 10px;
    cursor: pointer;
  }
  .top-bar button:hover{
    opacity:0.5;
  }
  .user-button{
    background-image: url(./Icone/gameInfo.png);
  }
  .theme-button{
    background-image: url(./Icone/theme.png);
    margin-left: 3%;
  }
  .open-button{
    background-image: url(./Icone/open.png);
    margin-left: 3%;
  }
  .run-button {
    background-image: url(./Icone/play.png);
    margin-left: 3%;
  }
  .coverage-button{
    background-image: url(./Icone/jacoco.png);
    margin-left: 3%;
  }
  .save-button{
    background-image: url(./Icone/floppy-disk.png);
    margin-left: 3%;
  }
  .saveAs-button{
    background-image: url(./Icone/saveAs.png);
    margin-left: 3%;
  }
  .undo-button{
    background-image: url(./Icone/undo.png);
    margin-left: 3%;
  }
  .redo-button{
    background-image: url(./Icone/redo.png);
    margin-left: 3%;
  }
  .compile-button{
    background-image: url(./Icone/rearrange.png);
    margin-left: 3%;
  }
  .replace-btn{
    background-image: url(./Icone/exchange.png);
    margin-left: 3%;
  }
  .find-button{
    background-image: url(./Icone/search.png);
    margin-left: 3%;
  }
  .CodeMirror {
    float: left;
    width: 100%;
  }
  .CodeMirror-foldmarker {
    color: blue;
    cursor: pointer;
    padding-right: 10px;
  }
  .CodeMirror-foldgutter-open .CodeMirror-foldmarker::before {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
  }
  .CodeMirror-foldgutter-folded .CodeMirror-foldmarker::before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #000000;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: auto;
    width: 30%;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
  }
  .autocomplete-items div:hover {
    background-color: #000000;
  }
  .highlight {
    background-color: rgba(255, 255, 0, 0.537)
  }
  .console {
    color: #FFF;
    font-family: monospace;
    font-size: 14px;
    overflow: auto;
    width: 100%;
  }
  .console:before {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
  }
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 62, 80, 0.5);
    z-index: 9999;
    text-align: center;
  }
  .modal2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 62, 80, 0.5);
    z-index: 9999;
    text-align: center;
  }
  .modal2-content {
    width: 20%;
    height: 35%;
    top:22.5%;
    transform: translateY(-50%);
    display: inline-block;
    background-color: #fff;
    padding: 14px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
  }
  .modal2-title{
    margin-top: 0%;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: green;
  }
  .modal-content {
    width: 20%;
    height: 10%;
    top:10%;
    transform: translateY(-50%);
    display: inline-block;
    background-color: #fff;
    padding: 14px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    color: black;
  }
  #startSearch {
    background-color: green;
    width: 100px;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #startReplace {
    background-color: green;
    width: 100px;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #startSearch:hover {
    background-color: darkgreen;
  }
  #startReplace:hover {
    background-color: darkgreen;
  }
  .covered-line {
    background-color: #c8e6c9; /* Colore di sfondo per le righe coperte */
  }
  .uncovered-line {
    background-color: #ffcdd2; /* Colore di sfondo per le righe non coperte */
  }
  .partially-covered-line {
    background-color: #ffecb3; /* Colore di sfondo per le righe parzialmente coperte */
  }
  @media screen and(max-width:800px) {
    .container2{
      width: 100%;
    }
  }